*/Debug
*/Release
*/x64
.vs
Debug/
Release/
ipch/*
*.sdf
*.opensdf
*.suo
*.filters
*.user
*.ipch
*.log
*.opendb
CoverageReport-*
NewRelease
TestResults/
packages/*
Build/Installer/VCRedist/*
Build/Dependencies/Dependencies-vs*.zip
Build/ThirdParty/vcpkg
build/
dist/
coverage_reports/
desktop.ini
.DS_STORE

# Template file / unmanaged dll for the plugin
VSPackage/OpenCppCoverage-x64
VSPackage/OpenCppCoverage-x86

# ProtoBuff files
CoverageData.pb.h
CoverageData.pb.cc

.clang-format

CMakePresets.json
out/
x64/
*.info
*.md5
*report.xml
build/
dist/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.vscode/
